

@media(max-height: 840px){
  .logo__img{
    max-height: 170px;
  }
  .menu__item-img{
    width: 40px;
    height: 30px;
  }
}


@media(max-height: 700px){
  .header__aside-time{
    text-align: center;
    font-size: 36px;

    span{
      margin-top: 2px;
    }
  }
}


@media(max-height: 1140px){

  .slider-dots{
    max-width: 600px;
  }

  .dots-box{
    gap: 10px;
    max-width: 100px;

    &__name{
      text-align: right;
    }
  }


  .slider-dots-map{
    &__circle{
  
      &[data-sliderCircle='1']{
        left: 0;
        top: 335px;
      }
  
      & + .slider-dots-map__content{
        left: 0px;
        top: 100px;
      }
  
      &[data-sliderCircle='2']{
        top: 270px;
        left: 11%;
       
        & + .slider-dots-map__content{
          left: 0px;
          top: 40px;
        }
      } 
      &[data-sliderCircle='3']{
        top: 320px;
        left: 28%;
  
        & + .slider-dots-map__content{
          left: 18%;
          top: 80px;
        }
      }
      &[data-sliderCircle='4']{
        top: 485px;
        left: 35%;
  
        & + .slider-dots-map__content{
          left: 25%;
          top: 250px;
        }
      }
      &[data-sliderCircle='5']{
        top: 210px;
        left: 45%;
  
        & + .slider-dots-map__content{
          left: 35%;
          top: -25px;
        }
      }
      &[data-sliderCircle='6']{
        top: 510px;
        left: 53%;
  
        & + .slider-dots-map__content{
          left: 40%;
          top: 285px;
        }
      }
      &[data-sliderCircle='7']{
        top: 368px;
        left: 67%;
  
        & + .slider-dots-map__content{
          left: 56%;
          top: 140px;
        }
      }
      &[data-sliderCircle='8']{
        top: 460px;
        left: 91%;
  
        & + .slider-dots-map__content{
          left: 74%;
          top: 230px;
        }
      }
    }
  }

  .surf-box__inner{
    min-height: 600px;

    .btn{
      font-size: 30px;
      padding: 12px 0;
    }
  }
}


@media(max-width: 1250px){
  .slider-map{
    max-width: 1000px;
    min-height: 515px;
  }

  .slider-map .slick-list{
    min-height: 515px;
  }
}

@media(max-width: 960px){
  .slider-item__info-title{
    font-size: 44px;
    margin-bottom: 24px;
  }

  .slider-item__info-text{
    font-size: 34px;
  }
}


@media(max-width: 820px){
  .slider-dots{
    max-width: 350px;
  }
  
  .slider-item__info{
    right: 25px;
  }

  .header__map{
    top: -50px;
    right: -200px;
  }
}


@media(max-width: 550px){
  .slider-dots{
    max-width: 125px;
    transform: translateX(50px);
  }

}


@media(max-width: 470px){
  .header__arrows{
    left: 130px;
    bottom: 15px;
  }

  .header__map{
    opacity: .6;
    width: 300px;
    height: 300px;
    top: -61px;
    right: 470px;
  }

  .header__title{
    font-size: 150px;
  }
}



@media(max-width: 420px){
  .slider-item__info-title{
    font-size: 26px;
    line-height: 30px;
  }

  .slider-item__info-subtitle{
    font-size: 22px;
    line-height: 26px;
  }

  .slider-item__info-text{
    font-size: 22px;
    line-height: 26px;
  }

  .slider-item__info-subtext{
    font-size: 20px;
    line-height: 24px;
  }
}